
html {
padding-top: 15px;
background-color: Black;
background-image: url('images/sitebg.png');
background-repeat: no-repeat;
background-size: cover;
}

body {
   margin: 0%;
   vertical-align: middle;
}

@font-face {
  font-family: soda;
  src: url(GrapeSoda.ttf);
}

@keyframes example {
  0% {color: red;}
  50% {color: yellow;}
  100% {color: red;}
}

p {
  font-family: soda;
  text-align: center;
  font-size: 2vw;
  color: white;
  margin: auto;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.banner {
	width: 70%;
	min-width: 900px;
	height: 60px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	background-color: white;
	background-image: url('images/space.gif');
	display:flex;
	box-shadow: 0 0 10px white;
}

.logobox {
	display:flex;
	width: 1000px;
}

.menubox {
	width: 100%;
	display:flex;
}

.menuboxborder {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	display:flex;
}

.menubutton {
	margin-left: auto;
	margin-right: auto;
	padding-top: 4px ;
}

.sociallink {
    display: block;
	outline: 2px solid black;
    margin: 0 auto;
	position: relative;
	height:100%;
	transition: .2s ease;
}

.linktext {
	font-family: soda;
	position: absolute;
	bottom: 8px;
	font-size: 32px;
	color:white;
	text-shadow: 0.1em 0 black, 0 0.1em black, -0.1em 0 black, 0 -0.1em black, -0.1em -0.1em black, -0.1em 0.1em black, 0.1em -0.1em black, 0.1em 0.1em black;
	right: 16px;
}

.artcredittext {
	font-family: soda;
	font-size: 16px;
	transform: translate(8px,216px);
	color:white;
	text-shadow: 0.1em 0 black, 0 0.1em black, -0.1em 0 black, 0 -0.1em black, -0.1em -0.1em black, -0.1em 0.1em black, 0.1em -0.1em black, 0.1em 0.1em black;
}
	

img.sociallink:hover {
	outline: 2px solid white;
	filter: brightness(120%);
	box-shadow: 0 0 10px white;
	transition: .2s ease;
	scale: 0.96;
	transform: translateX(6px);
}
img.sociallink:active{
	scale:0.9;
	transition: 0.1s;
	transform: translateX(18px);
	filter: brightness(150%);
}

img.menu {
	transition: .2s ease;
}

img.menu:hover {
	scale:1.1;
	filter: brightness(120%);
}

img.menu:active {
	transition: 0.01s;
	scale:0.9;
	filter: brightness(150%);
}