
html {
margin: 0;
padding: 10px;
background-color: Black;
}

body {
   margin: 0%;
   vertical-align: middle;
}

@font-face {
  font-family: soda;
  src: url(GrapeSoda.ttf);
}

@keyframes example {
  0% {color: red;}
  50% {color: yellow;}
  100% {color: red;}
}

p {
  font-family: soda;
  text-align: center;
  font-size: 2vw;
  color: white;
  margin: auto;
}