
html {
margin-top: 10px;
padding: 0px;
background-color: Black;
background-image: url('images/stars-space.gif');
}

body {
   margin: 0%;
   vertical-align: middle;
}

@font-face {
  font-family: soda;
  src: url(GrapeSoda.ttf);
}

@keyframes example {
  0% {color: red;}
  50% {color: yellow;}
  100% {color: red;}
}

p {
  font-family: soda;
  text-align: center;
  font-size: 2vw;
  color: white;
  margin: auto;
}

.sociallink {
    display: block;
	outline: 2px solid black;
    margin: 0 auto;
	position: relative;
	height:10%;
	transition: .2s ease;
}

img.sociallink:hover {
	outline: 2px solid white;
	filter: brightness(120%);
	box-shadow: 0 0 10px white;
	transition: .2s ease;
	scale: 0.96;
}

img.menu {
	transition: .2s ease;
}

img.menu:hover {
    outline: 1px solid white;
	transform: translateY(2px);
	filter: brightness(120%);
	box-shadow: 0 0 10px white;
}